<!DOCTYPE html>

<html>
    <head>
        <title>login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <header>
            <!--<h1>Header</h1>-->
            <div class="icon-logo">
                <img src="imagens/iconPP.png"/>
                <h1>AlmoSystem</h1>
            </div>
        </header>
        
        <section>
            <!--<h1>Section</h1>-->
            
            <div class="box-login-back">
                <img class="icon-login" src="imagens/inco1.png"/>
                <div class="box-login">
                    <form>
                        <h1>Login</h1>
                        <p>E-mail</p>
                        <input type="number" placeholder="Digite seu E-mail">
                        <p>Senha</p>
                        <input type="password" placeholder="Digite sua senha">
                        <input type="submit" value="Entrar">
						<a href="">Ainda não é inscrito?<strong>cadastre-se!</strong>
                    </form>
                </div>
            </div>
        </section>
        
        <footer>
            <!--<h1>Footer</h1>-->
            <p>&copy 2010 - 2019</p>
        </footer>
    </body>
</html>
